.card{
    flex: 1 0 600px;
    position: relative;
    background-color: var(--BACKGROUND);
    border-radius: var(--roundLarge);
    padding: var(--spaceLarge);
    box-shadow: 2px 2px 40px hsl(var(--MUTED));
    margin: var(--spaceMedium);
    max-width: 600px;
}

.title{
    max-width: var(--content);
}

.ticketNumber {
    font-size: 1px;
}