
.Defect {
    padding: .5em 1em;
    background-color: var(--COLOR_DEFECT);
    border-radius: var(--roundMedium);
    max-width: max-content;
    font-family: Arial, Helvetica, sans-serif;
}

.Task {
    padding: .5em 1em;
    background-color: var(--COLOR_TASK);
    border-radius: var(--roundMedium);
    max-width: max-content;
    font-family: Arial, Helvetica, sans-serif;
}

.SubTask {
    padding: .5em 1em;
    background-color: var(--COLOR_SUBTASK);
    border-radius: var(--roundMedium);
    max-width: max-content;
    font-family: Arial, Helvetica, sans-serif;
}

.Story {
    padding: .5em 1em;
    background-color: var(--COLOR_STORY);
    border-radius: var(--roundMedium);
    max-width: max-content;
    font-family: Arial, Helvetica, sans-serif;
}

.Epic {
    padding: .5em 1em;
    background-color: var(--COLOR_EPIC);
    border-radius: var(--roundMedium);
    max-width: max-content;
    font-family: Arial, Helvetica, sans-serif;
}

.SwimLaneLabel {
    padding: .5em 1em;
    background-color: var(--COLOR_SWIMLANE);
    border-radius: var(--roundMedium);
    color: white;
    max-width: max-content;
    font-family: Arial, Helvetica, sans-serif;
}

