
.Defect {
    margin: 1em;
    background-color: var(--COLOR_DEFECT);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.Task {
    margin: 1em;
    background-color: var(--COLOR_TASK);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.SubTask {
    margin: 1em;
    background-color: var(--COLOR_SUBTASK);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.Story {
    margin: 1em;
    background-color: var(--COLOR_STORY);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.Epic {
    margin: 1em;
    background-color: var(--COLOR_EPIC);
    color: black;
    font-family: Arial, Helvetica, sans-serif; 
}

