*, 
*::before,
/* allows the parents to control the margin and padding of the childern*/
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --xsFont: 14px;
    --sFont: 20px;
    --mFont: 24px;
    --lFont: 32px;

    --lineHeight1: 1;
    --lineHeight1_1: 1.1;
    --lineHeight1_4: 1.4; 

    /* colors */
    --COLOR_DEFECT: #c23b22;
    --COLOR_TASK: #779ecb;
    --COLOR_SUBTASK: #a3d0fd;
    --COLOR_STORY: #77DD77;
    --COLOR_EPIC: #966FD6;

}